{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "challenges/challenges.css"%}">
{% endblock %} 
{% block title %}{{ month|title }} Challenge{% endblock %}

    {% block content %}
        {% include "challenges/includes/nav.html" %}
        <div class="challenge-container">
            <h1>{{ month|title }} Challenge</h1>
            <div class="challenge-content">
                <p>{{ challenge }}</p>
            </div>
        </div>
    {% endblock %}