{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "challenges/challenges.css"%}">
{% endblock %}
{% block title %}Monthly Challenges{% endblock %}

    {% block content %}
    <div class="container">
        <h1>Monthly Challenges</h1>
        <div class="challenges-grid">
            {% for month in months %}
            <div class="challenge-card">
                <h3>{{ month|title }}</h3>
                <p>Click the button below to view the challenge for {{ month|title }}.</p>
                <a href="{% url 'month-challenge' month %}">View Challenge</a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}