{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "blog/blog.css"%}">
{%endblock%}
{% block content %}

    <header class="landing-header">
        <h1>Welcome to My Blog</h1>
        <p>I’m a firm believer that the best way to recharge from a week of screen time is a long hike and a solid playlist. 
            Here, you’ll find my latest tech deep-dives, album recommendations, and stories from the trail.</p>
    </header>

    <section class="landing-blog-container">
        {% for blog in blogs %}
            <div class="landing-blog-card">
                <img src="{{ blog.image }}" alt="{{ blog.title }} image" style="width: 100%; height: 150px; object-fit: cover; border-radius: 5px;">
                <h3>{{blog.title}}</h3>
                <h5>{{blog.description}}</h5>
                <p>{{blog.created_at}}</p>
                <form action="{% url "blog" blog.slug %}">
                    {% csrf_token %}
                    <button type="submit">View</button>
                </form>
            </div>
        {% endfor %}
    </section>

{% endblock %}