.landing-header{
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}
.landing-header p {
    max-width: 1000px;
    text-align: center;
}
.landing-blog-container, .all-blogs-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.all-blogs-container ul{
    list-style: none;
    list-style-position: inside;
}

.landing-blog-card, .blog-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px rgb(54, 126, 102) solid;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px ;
    margin: 30px;
}

.landing-blog-card:hover, .blog-card:hover{
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.blog-container{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.blog-container h2, h5, a  {
    text-align: center;
}
.entry{
    white-space: pre-wrap;
    width: 80%;
    align-self: center;
}

hr{
    background-color: black;
}