{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block css %}{%endblock%}
   
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/"><img class="logo-img"  src="{% static 'images/me.JPG' %}" width="50px"></a>
        </div>
        
       
        <a href="/blogs">All Blogs</a>
    </nav>
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <footer class="footer" >
        <p>&copy; {{ current_year }} My Blog. All rights reserved.</p>
    </footer>

</body>
</html>