<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog{% endblock %}</title>
    {% block css %}{%endblock%}
    <style>
        {% block styles %}
        body {
           margin: 0;
           padding: 0;
        }
        nav{
            display: flex;
            justify-content: space-between;
            background-color: rgba(39, 39, 39, 0.2);
            margin: 0;
            padding: 10px;
        }
        {% endblock %}
    </style>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <h1>My Blogs</h1>
        <a href="/blogs">All Blogs</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>